<%- include ('../../partials/header.ejs') %>
    <body>
        <%- include ('../../partials/navbar.ejs') %>
        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>  Edição de categoria </h2>
                </div>
                <div class="card-body">
                    <form action="/categories/update" method="POST">
                        <input name="title" type="text" placeholder="" class="form-control" value=" <%= category.title %> "><br>
                        <input type="hidden" name="id" value="<%= category.id %>">
                        <button class="btn " style="background-color: #46483d; color: white;">Atualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </body>
<%- include ('../../partials/footer.ejs') %> 