<%- include ('./partials/header.ejs') %>
    <body>
        <%- include ('./partials/homenavbar.ejs') %>    
        
        <div class="container">
            
            <div class="jumbotron">
                <h1 class="display-4">Bem vindo!</h1>
                <p class="lead"> Este simples blog foi desenvolvido por mim nos meus estudos de NodeJs. Por favor, sinta-se em casa </p>
                <hr class="my-4">
                <p class="lead">
                  <a class="btn btn-primary btn-lg btn-primary" href="/login/usuario" role="button">Login</a>
                </p>
              </div>
              <br>
            <% articles.forEach(article => { %>
                <div class="card">
                    <div class="card-header">
                        <h2> <%= article.title %> </h2>
                    </div>
                    <div class="card-body">
                        <a class="btn" style="background-color: #46483d; color: white;" href="/<%= article.slug %>">Ler Artigo</a>
                    </div>
                </div>
                <br>
            <% }) %>

            <div class="row">
                <div class="col col-12"> <a href="/articles/page/2" style="float: right;">Next >>></a> </div>
                
            </div>
        </div>

    </body>
<%- include ('./partials/footer.ejs') %>     
    