<%- include ('../../partials/header.ejs') %>
    <body>
        <%- include ('../../partials/navbar.ejs') %>    
        <div class="container">
            <hr>
            <div class="card">
                <div class="card-header">
                    <h2>Usuários</h2>
                    <hr>
                    <a class="btn" style="background-color: #46483d; color: white;" href="/admin/users/new">Criar novo usuário</a>
                </div>
                <div class="card-body">
                    <table class="table table-bordered">
                        <thead> <!--Cabeçalho da  tabela-->
                            <tr> <!--Linha da tabela-->
                                <th>ID</th> <!--Coluna da tabela-->
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(user => { %>
                                <tr>
                                    <td> <%= user.id %> </td>
                                    <td> <%= user.email %> </td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
            
        </div>
    </body>
<%- include ('../../partials/footer.ejs') %>    